<html>

<head>
    {% load static %}
    <script src="{% static 'js/monitor_tour.js' %}"></script>
</head>

<body>

    <form action="monitor_tour" method="post">
        {% csrf_token %}
        <select name="facility" id="facility-select">
            <option value="">--Please choose a facility--</option>
            {% for facility in facilities %}
            {% if facility == selected_facility %}
            <option selected="true" value="{{facility.id}}">{{facility.name}}</option>
            {% else %}
            <option value="{{facility.id}}">{{facility.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <br /><br />
        <select name="tour" id="tour-select" {% if tours is None %} disabled {% endif %}>
            <option value="">--Please choose a tour--</option>
            {% for tour in tours %}
            {% if tour == selected_tour %}
            <option selected="true" value="{{tour.id}}">{{tour.name}}</option>
            {% else %}
            <option value="{{tour.id}}">{{tour.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </form>
    <br /><br />
    {% if selected_facility and selected_tour %}
    <form action="submit_monitor" method="post">
        {% csrf_token %}
        <input type="hidden" name="facility" value="{{selected_facility.id}}" />
        <input type="hidden" name="tour" value="{{selected_tour.id }}" />
        <div>
            <label for="start-date">Start Date:</label>
            <input type="date" name="start-date" id="start-date" min="{{date.today}}" />
            <label for="end-date">End Date:</label>
            <input type="date" name="end-date" id="end-date" min="{{date.today}}" />
        </div>
        <br />
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" size="30" required />
        </div>
        <br />
        <input type="submit" id="submit" value="Submit" />
    </form>
    {% endif %}
</body>

</html>